In [1]:
import pandas as pd
import numpy as np
from random import randint

In [2]:
df = pd.read_csv('boardgames_sale.csv')
df.head()

,rank,bgg_url,game_id,names,description,min_players,max_players,avg_time,min_time,max_time,...,geek_rating,num_votes,image_url,age,mechanic,owned,category,designer,weight,price
0,1,https://boardgamegeek.com/boardgame/174430/glo...,174430,Gloomhaven,Vanquish monsters with strategic cardplay. Ful...,1,4,120,60,120,...,8.61858,15376,https://cf.geekdo-images.com/original/img/lDN3...,12,"Action / Movement Programming, Co-operative Pl...",25928,"Adventure, Exploration, Fantasy, Fighting, Min...",Isaac Childres,3.7543,155.98
1,2,https://boardgamegeek.com/boardgame/161936/pan...,161936,Pandemic Legacy: Season 1,Mutating diseases are spreading around the wor...,2,4,60,60,60,...,8.50163,26063,https://cf.geekdo-images.com/original/img/P_Sw...,13,"Action Point Allowance System, Co-operative Pl...",41605,"Environmental, Medical","Rob Daviau, Matt Leacock",2.8210,60.89
2,3,https://boardgamegeek.com/boardgame/182028/thr...,182028,Through the Ages: A New Story of Civilization,Rewrite history as you build up your civilizat...,2,4,240,180,240,...,8.30183,12352,https://cf.geekdo-images.com/original/img/1d2h...,14,"Action Point Allowance System, Auction/Bidding...",15848,"Card Game, Civilization, Economic",Vlaada Chvátil,4.3678,66.18
3,4,https://boardgamegeek.com/boardgame/167791/ter...,167791,Terraforming Mars,Compete with rival CEOs to make Mars habitable...,1,5,120,120,120,...,8.19914,26004,https://cf.geekdo-images.com/original/img/o8z_...,12,"Card Drafting, Hand Management, Set Collection...",33340,"Economic, Environmental, Industry / Manufactur...",Jacob Fryxelius,3.2456,78.92
4,5,https://boardgamegeek.com/boardgame/12333/twil...,12333,Twilight Struggle,Relive the Cold War and rewrite history in an ...,2,2,180,120,180,...,8.19787,31301,https://cf.geekdo-images.com/original/img/ZPnn...,13,"Area Control / Area Influence, Campaign / Batt...",42952,"Modern Warfare, Political, Wargame","Ananda Gupta, Jason Matthews",3.5518,54.95

## Games for sale

In [3]:
sale = df.drop(['rank', 'bgg_url', 'min_time', 'max_time', 'year', 'geek_rating', 'num_votes', 'mechanic', 'image_url', 'designer', 'weight'], axis = 1)
sale = sale[sale.price.isnull() == False].reset_index(drop = True)
sale.price = round(sale.price * 4.44, 2)
sale.head()

,game_id,names,description,min_players,max_players,avg_time,avg_rating,age,owned,category,price
0,174430,Gloomhaven,Vanquish monsters with strategic cardplay. Ful...,1,4,120,8.98893,12,25928,"Adventure, Exploration, Fantasy, Fighting, Min...",692.55
1,161936,Pandemic Legacy: Season 1,Mutating diseases are spreading around the wor...,2,4,60,8.66140,13,41605,"Environmental, Medical",270.35
2,182028,Through the Ages: A New Story of Civilization,Rewrite history as you build up your civilizat...,2,4,240,8.60673,14,15848,"Card Game, Civilization, Economic",293.84
3,167791,Terraforming Mars,Compete with rival CEOs to make Mars habitable...,1,5,120,8.38461,12,33340,"Economic, Environmental, Industry / Manufactur...",350.40
4,12333,Twilight Struggle,Relive the Cold War and rewrite history in an ...,2,2,180,8.33954,13,42952,"Modern Warfare, Political, Wargame",243.98

## Games to rent

In [4]:
"""Generates list of random integers (from 0 to 10), with advantage of zeros."""
def games_count(n = np.shape(sale)[0]):
    a = [randint(0, 10) for i in range(n)]
    b = [0 if randint(0, len(a)) < 500 else i for i in a]
    return b

In [5]:
rent = sale[['game_id', 'price']]

In [6]:
price = rent.price.values
rent_price = []
for price in price:
    if 0 <= price < 100:
        p = 2
    elif 100 <= price < 500:
        p = 5
    elif 500 <= price < 1000:
        p = 10
    elif 1000 <= price < 1500:
        p = 15
    else:
        p = 20
    rent_price.append(p)

In [9]:
rent2 = rent.copy()
# rent2['rent_price'] = rent_price
rent2 = rent2.drop(['price'], axis = 1)
rent2 = rent2.loc[rent2.index.repeat(games_count())].reset_index(drop = True)
rent2.insert(0, 'item_id', np.array([*range(len(rent2))]) + 1)
rent2

       item_id  game_id
0            1   161936
1            2   161936
2            3   161936
3            4   161936
4            5   161936
...        ...      ...
16221    16222   128174
16222    16223   128174
16223    16224   128174
16224    16225   128174
16225    16226   128174

[16226 rows x 2 columns]

In [8]:
sale['rent_price'] = rent_price
sale

,game_id,names,description,min_players,max_players,avg_time,avg_rating,age,owned,category,price,rent_price
0,174430,Gloomhaven,Vanquish monsters with strategic cardplay. Ful...,1,4,120,8.98893,12,25928,"Adventure, Exploration, Fantasy, Fighting, Min...",692.55,10
1,161936,Pandemic Legacy: Season 1,Mutating diseases are spreading around the wor...,2,4,60,8.66140,13,41605,"Environmental, Medical",270.35,5
2,182028,Through the Ages: A New Story of Civilization,Rewrite history as you build up your civilizat...,2,4,240,8.60673,14,15848,"Card Game, Civilization, Economic",293.84,5
3,167791,Terraforming Mars,Compete with rival CEOs to make Mars habitable...,1,5,120,8.38461,12,33340,"Economic, Environmental, Industry / Manufactur...",350.40,5
4,12333,Twilight Struggle,Relive the Cold War and rewrite history in an ...,2,2,180,8.33954,13,42952,"Modern Warfare, Political, Wargame",243.98,5
...,...,...,...,...,...,...,...,...,...,...,...,...
3718,6569,Cronberg,NaN,2,4,20,5.99954,8,561,"City Building, Print & Play",88.80,2
3719,42713,Arcane Legions,NaN,2,6,120,6.39838,10,825,"Ancient, Collectible Components, Dice, Fantasy...",132.98,5
3720,836,New England Railways,NaN,3,6,120,6.71815,13,440,"Economic, Trains",97.68,2
3721,2997,Soldier Kings,NaN,2,8,240,6.36062,14,659,"Age of Reason, Wargame",48.84,2
3722,128174,Dragon Farkle,"Dice, companions, and a dragon, oh my...",2,5,30,6.29081,13,629,Fantasy,115.13,5

In [11]:
# sale.to_csv('../database/games_for_sale.csv', index = False)
rent2.to_csv('../database/games_to_rent.csv', index = False)

In [5]:
df = pd.read_csv('../database/competition.csv', sep = ',')
# df = df.drop('gender', axis = 1)
df

     competition_id  staff_id  game_id        date  prize
0                 1        12     2539  2021-06-04    150
1                 2        12     8481  2021-06-11    200
2                 3        16      214  2021-06-18    200
3                 4         1     5614  2021-06-25    200
4                 5        14   135219  2021-07-02    350
..              ...       ...      ...         ...    ...
127             128         5      550  2023-12-01    150
128             129        15     4085  2023-12-08    400
129             130         9    19996  2023-12-15    300
130             131        12   181524  2023-12-22    300
131             132        15     9028  2023-12-29    350

[132 rows x 5 columns]

In [31]:
df.to_csv('../database/customer.csv', index = False)