In [23]:
import pandas as pd
import numpy as np
import random, string
from collections import Counter
from unidecode import unidecode

# customer table

In [2]:
random.seed(123)
n = 1329 #ilość klientów

GUS: https://dane.gov.pl/pl/dataset/219,imiona-nadawane-dzieciom-w-polsce/resource/44824/table?page=1&per_page=20&q=&sort=

In [3]:
n_k = pd.read_csv('nazwiska_k.csv', sep = ",")
n_m = pd.read_csv('nazwiska_m.csv', sep = ",")
i_k = pd.read_csv('imiona_k.csv', sep = ",")
i_k = i_k.rename(columns={'LICZBA WYSTĄPIENIEŃ': 'Liczba'})
i_m = pd.read_csv('imiona_m.csv', sep = ",")
i_m = i_m.rename(columns={'LICZBA WYSTĄPIEŃ': 'Liczba'})

In [4]:
N_k = [n_k["Nazwisko aktualne"][i].lower().capitalize() for i in range(150000)]
N_m = [n_m["Nazwisko aktualne"][i].lower().capitalize() for i in range(150000)]
I_k = [i_k["IMIĘ PIERWSZE"][i].lower().capitalize() for i in range(i_k.shape[0])]
I_m = [i_m["IMIĘ PIERWSZE"][i].lower().capitalize() for i in range(i_m.shape[0])]

ilość mieszkańców Wrocławia: 674 079
ilość kobiet: 359537 (53%)
ilość mężczyzn: 314542 (47%)

In [5]:
def normalise(i_x, I_x):
    L_I_x = [i_x["Liczba"][i]/np.sum(i_x["Liczba"]) for i in range(len(I_x))]
    L_I_x = L_I_x/ min(L_I_x)
    L_I_x = L_I_x/ np.sum(L_I_x)
    return L_I_x

In [6]:
first_name = np.zeros(n).astype(str)
last_name = np.zeros(n).astype(str)
gender = np.zeros(n).astype(str)

x = np.random.choice(["K", "M"], size=n, replace=True, p=[0.53, 0.47]) # dla odpowiedniego mianownika kobiet do mężczyzn
imiona_m = np.random.choice(I_m, size=n, replace=True, p=normalise(i_m, I_m))
imiona_k = np.random.choice(I_k, size=n, replace=True, p=normalise(i_k, I_k))
nazwiska_m = np.random.choice(N_m, size=n, replace=True, p=normalise(n_m, N_m))
nazwiska_k = np.random.choice(N_k, size=n, replace=True, p=normalise(n_k, N_k))

for i in range(n):
    if x[i] == "K":
        first_name[i] = imiona_k[i] #random.choice(I_k)
        last_name[i] = nazwiska_k[i] #random.choice(N_k)
        gender[i] = "female"
    else:
        first_name[i] = imiona_m[i] #random.choice(I_m)
        last_name[i] = nazwiska_m[i] #random.choice(N_m)
        gender[i] = "male"

In [7]:
customer_id = range(1,n+1)
dict_customer = {'customer_id':customer_id, "first_name": first_name, "last_name": last_name, "gender": gender}
customer = pd.DataFrame(dict_customer)

In [8]:
customer #1329 osób

      customer_id first_name    last_name  gender
0               1        Ewa        Sapak  female
1               2      Jakub  Szczepański    male
2               3   Kateryna  Teliszewska  female
3               4       Nela       Dendys  female
4               5       Maja    Zdanowska  female
...           ...        ...          ...     ...
1324         1325       Nela     Zgierska  female
1325         1326     Maciej   Kuryshchuk    male
1326         1327  Kazimierz     Owczarek    male
1327         1328     Julian       Rozmus    male
1328         1329    Gabriel     Głowacki    male

[1329 rows x 4 columns]

https://interaktywnie.com/biznes/artykuly/biznes/przeglad-ktora-poczta-e-mail-jest-najlepsza-16950

In [9]:
# liczby użytkowników danych poczt email
gmail = 8968134
wp = 6895602
onet = 4302509
interia = 2677345
o2 = 2855010
pwr = 21902

all_users = gmail+wp+onet+interia+o2+pwr

# wektor prawdopodobieństw
mail_probab = [gmail/all_users, wp/all_users, onet/all_users, interia/all_users, o2/all_users, pwr/all_users]
mail_probab = [round(i,4) for i in mail_probab]
mail_probab[3] = 0.1040

In [10]:
email = np.zeros(n).astype(str)


for i in range(n):
    
    x = random.choice(range(1,3))
    
    if x == 1:
        nazwa = customer["first_name"][i]
        y = random.choice(range(1,5))
        if y == 1:
            nazwa += "." + customer["last_name"][i]
        elif y == 2:
            nazwa += customer["last_name"][i]
        elif y == 3:
            nazwa += "." + customer["last_name"][i][0:random.choice(range(3,5))]
        else:
            nazwa += str(random.choice(range(100,10000)))
        
    else:
        nazwa = customer["last_name"][i] 
        y = random.choice(range(1,5))
        if y == 1:
            nazwa += "." + customer["first_name"][i]
        elif y == 2:
            nazwa += customer["first_name"][i]
        elif y == 3:
            nazwa += "." + customer["first_name"][i][0:random.choice(range(2,5))]
        else:
            nazwa += str(random.choice(range(100,10000)))
        
    email[i] = nazwa
    
    
domeny = ["@gmail.com", "@wp.pl", "@onet.pl", "@interia.pl", "@o2.pl", "@student.pwr.edu.pl"]
domena = np.random.choice(domeny, size=len(email), replace=True, p=mail_probab)    

for i in range(n):
    email[i] += domena[i]
email = [unidecode(i) for i in email]

https://pl.wikipedia.org/wiki/Numery_telefoniczne_w_Polsce

In [11]:
phone = np.zeros(n).astype(int)
for i in range(n):
    number =  str(np.random.choice([45, 50, 51, 53, 57, 60, 66, 69, 72, 73, 78, 79, 88])) + str(random.choice(range(1000000, 9000000)))
    phone[i] = int(number)
customer["phone"] = phone
customer["email"] = email
customer

,customer_id,first_name,last_name,gender,phone,email
0,1,Ewa,Sapak,female,791491634,Ewa.Sap@gmail.com
1,2,Jakub,Szczepański,male,792370041,Szczepanski.Ja@gmail.com
2,3,Kateryna,Teliszewska,female,663017148,Kateryna8885@wp.pl
3,4,Nela,Dendys,female,734919744,Dendys.Ne@gmail.com
4,5,Maja,Zdanowska,female,577698695,MajaZdanowska@onet.pl
...,...,...,...,...,...,...
1324,1325,Nela,Zgierska,female,503904401,Zgierska7432@wp.pl
1325,1326,Maciej,Kuryshchuk,male,538455331,Maciej.Kur@gmail.com
1326,1327,Kazimierz,Owczarek,male,781806955,Kazimierz.Owczarek@wp.pl
1327,1328,Julian,Rozmus,male,535851916,Julian4145@gmail.com
1328,1329,Gabriel,Głowacki,male,692315852,Glowacki3891@gmail.com

In [12]:
counter = Counter(phone)
result = [i for i, j in counter.items() if j > 1]
if result != []:
    print("Te same numery telefonu!!")
else:
    print("phone: Wszystko ok.")
    
counter = Counter(last_name)
result = [i for i, j in counter.items() if j > 1]
if result != []:
    print("Te same nazwiska!!")
else:
    print("last_name: Wszystko ok.")

phone: Wszystko ok.
Te same nazwiska!!

In [13]:
print(counter)

Counter({'Nowak': 8, 'Kwiatkowska': 6, 'Kowalczyk': 6, 'Kowalski': 5, 'Szewczyk': 5, 'Woźniak': 4, 'Walczak': 4, 'Wiśniewska': 4, 'Kowalska': 4, 'Wieczorek': 3, 'Lis': 3, 'Mazur': 3, 'Trawińska': 3, 'Malinowska': 3, 'Janus': 3, 'Krawczyk': 3, 'Maćkowiak': 3, 'Pawłowska': 3, 'Dąbrowska': 3, 'Gil': 3, 'Wysocki': 3, 'Kozłowska': 3, 'Jędrzejewski': 3, 'Szczepański': 2, 'Wojnar': 2, 'Góra': 2, 'Bąk': 2, 'Polak': 2, 'Kwiatkowski': 2, 'Głuch': 2, 'Małecki': 2, 'Przybyła': 2, 'Kozicka': 2, 'Król': 2, 'Stec': 2, 'Michalski': 2, 'Majda': 2, 'Weber': 2, 'Krzewska': 2, 'Pawlikowski': 2, 'Gromek': 2, 'Kozieł': 2, 'Jankowska': 2, 'Bobrek': 2, 'Barańska': 2, 'Stankiewicz': 2, 'Chojnacka': 2, 'Bujanowski': 2, 'Zawadzka': 2, 'Kasperek': 2, 'Dudek': 2, 'Pietrzak': 2, 'Kołodziej': 2, 'Przybylski': 2, 'Kopacz': 2, 'Zych': 2, 'Janicka': 2, 'Czarnecka': 2, 'Domańska': 2, 'Kamińska': 2, 'Kramarz': 2, 'Stanisławski': 2, 'Kasprzak': 2, 'Wnuk': 2, 'Wróbel': 2, 'Dukat': 2, 'Zielińska': 2, 'Gruszczyńska': 2, 'Adamczyk': 2, 'Fabisiak': 2, 'Grzywa': 2, 'Adamiak': 2, 'Kaczmarek': 2, 'Wójcik': 2, 'Maziarz': 2, 'Olchawa': 2, 'Wasielewska': 2, 'Czapiewski': 2, 'Stenka': 2, 'Lewandowski': 2, 'Musiał': 2, 'Bogusz': 2, 'Woźnica': 2, 'Serafin': 2, 'Majchrzak': 2, 'Adamiec': 2, 'Kołodziejczyk': 2, 'Nowakowska': 2, 'Mrowiec': 2, 'Sulikowski': 2, 'Bogdański': 2, 'Markiewicz': 2, 'Murawski': 2, 'Witkowska': 2, 'Kopeć': 2, 'Łukaszewicz': 2, 'Januszewski': 2, 'Sapak': 1, 'Teliszewska': 1, 'Dendys': 1, 'Zdanowska': 1, 'Polishchuk': 1, 'Opyd': 1, 'Wiatrak': 1, 'Morina': 1, 'Kikosicka': 1, 'Pazuła': 1, 'Pałucka': 1, 'Guzy': 1, 'Nahlik': 1, 'Kowolik': 1, 'Szklarek': 1, 'Zaks': 1, 'Szczepańska': 1, 'Jarosiński': 1, 'Rosa': 1, 'Drewniak': 1, 'Radlica': 1, 'Łysikowska': 1, 'Donajkowska': 1, 'Szczerba': 1, 'Górzyńska': 1, 'Cielebąk': 1, 'Kopania': 1, 'Dąbkowska': 1, 'Giża': 1, 'Prejbisz': 1, 'Jastrzębska': 1, 'Biegańska': 1, 'Zachary': 1, 'Walis': 1, 'Szostak': 1, 'Durlik': 1, 'Brzykcy': 1, 'Dzik': 1, 'Czup': 1, 'Nawacki': 1, 'Markowicz': 1, 'Staśkowiak': 1, 'Biełaniec': 1, 'Czerwieniec': 1, 'Niedźwiedź': 1, 'Kasino': 1, 'Maziara': 1, 'Stachoń': 1, 'Koczan': 1, 'Wawer': 1, 'Bartkowiak': 1, 'Wagstyl': 1, 'Żarski': 1, 'Szymański': 1, 'Białas': 1, 'Belica': 1, 'Kryczka': 1, 'Jodkiewicz': 1, 'Sajdak': 1, 'Włodarczyk': 1, 'Pruszyński': 1, 'Wawrzyn': 1, 'Górzyński': 1, 'Białobłocka': 1, 'Gawlak': 1, 'Dziamska': 1, 'Lesińska': 1, 'Pasierbiewicz': 1, 'Gracz': 1, 'Piastowska': 1, 'Lisicka': 1, 'Szkudelski': 1, 'Buchta': 1, 'Gzyl': 1, 'Brzęcka': 1, 'Płachecki': 1, 'Hlynskyi': 1, 'Oryszczak': 1, 'Kwaśnica': 1, 'Waścinski': 1, 'Gul': 1, 'Wnęk': 1, 'Trzcianka': 1, 'Karaś': 1, 'Makówka': 1, 'Trzeciak': 1, 'Chludzińska': 1, 'Machałek': 1, 'Bronikowski': 1, 'Wołczański': 1, 'Jeżowska': 1, 'Pradun': 1, 'Szubel': 1, 'Zawacki': 1, 'Cielniak': 1, 'Wojcieszak': 1, 'Niedbała': 1, 'Klejman': 1, 'Kliczek': 1, 'Balakowska': 1, 'Konowałek': 1, 'Fronczak': 1, 'Głuszyk': 1, 'Krzykowska': 1, 'Telega': 1, 'Grochola': 1, 'Niewiadomski': 1, 'Kłoda': 1, 'Cierniewski': 1, 'Sosenka': 1, 'Kuza': 1, 'Zygmunt': 1, 'Pater': 1, 'Warmuz': 1, 'Marciniak': 1, 'Baran': 1, 'Grobis': 1, 'Włodarska': 1, 'Jaroch': 1, 'Szendzielorz': 1, 'Szklarski': 1, 'Fludra': 1, 'Ziob': 1, 'Wedman': 1, 'Dębiec': 1, 'Gąsior': 1, 'Dworak': 1, 'Lipka': 1, 'Superczyńska': 1, 'Pabian': 1, 'Haska': 1, 'Doburzyńska': 1, 'Pelzer': 1, 'Jeon': 1, 'Wolniewicz': 1, 'Makuch': 1, 'Glijer': 1, 'Łączyński': 1, 'Pijanowski': 1, 'Nechyporenko': 1, 'Kurzawa': 1, 'Pala': 1, 'Istrati': 1, 'Lech': 1, 'Pyzik': 1, 'Tabor': 1, 'Sendyk': 1, 'Moskal': 1, 'Nagrodzka': 1, 'Lorbiecka': 1, 'Kocjan': 1, 'Schabek': 1, 'Kozioł': 1, 'Szmit': 1, 'Bobowski': 1, 'Budrewicz': 1, 'Kłopotek': 1, 'Dendewicz': 1, 'Michalczuk': 1, 'Bikowska': 1, 'Sobiecki': 1, 'Oszczak': 1, 'Mańkowska': 1, 'Skomorucha': 1, 'Wiktorowicz': 1, 'Prus': 1, 'Filipecki': 1, 'Lach': 1, 'Grochulski': 1, 'Banasiak': 1, 'Dziunycz': 1, 'Turalska': 1, 'Hamryszak': 1, 'Lendzioszek': 1, 'Lachowska': 1, 'Prusak': 1, 'Barucha': 1, 'Figura': 1, 'Czarnowska': 1, 'Hamadyk': 1, 'Ziętek': 1, 'Kasyk': 1, 'Janeczek': 1, 'Steć': 1, 'Chmiel': 1, 'Sąciński': 1, 'Gubernat': 1, 'Sukiennik': 1, 'Świderska': 1, 'Olejniczak': 1, 'Kader': 1, 'Kisała': 1, 'Mielcarz': 1, 'Dryjer': 1, 'Rybska': 1, 'Dębniak': 1, 'Truszko': 1, 'Stępińska': 1, 'Gzik': 1, 'Jutrzenka': 1, 'Wesołowska': 1, 'Smołuch': 1, 'Gulczyński': 1, 'Smagoń': 1, 'Arcisz': 1, 'Wiltos': 1, 'Łabaj': 1, 'Dmowska': 1, 'Bławat': 1, 'Szychowiak': 1, 'Wolański': 1, 'Daról': 1, 'Pankiewicz': 1, 'Klimaj': 1, 'Malcharczyk': 1, 'Jaśkiewicz': 1, 'Czepiel': 1, 'Pilnik': 1, 'Krapa': 1, 'Bachmatiuk': 1, 'Grzyb': 1, 'Franków': 1, 'Czekaj': 1, 'Rai': 1, 'Cholewa': 1, 'Fujawa': 1, 'Gregorek': 1, 'Ratowski': 1, 'Frączek': 1, 'Szewczak': 1, 'Mikołajczyk': 1, 'Dunaievskyi': 1, 'Białyński': 1, 'Skarba': 1, 'Novikov': 1, 'Karwowski': 1, 'Filipiak': 1, 'Wach': 1, 'Kozak': 1, 'Furman': 1, 'Kotlarska': 1, 'Bieniek': 1, 'Czajkowski': 1, 'Zdanowicz': 1, 'Łozińska': 1, 'Storch': 1, 'Plewka': 1, 'Szefer': 1, 'Suchorowska': 1, 'Wilkosz': 1, 'Turło': 1, 'Kiczyńska': 1, 'Salwiczek': 1, 'Dec': 1, 'Jaroszczuk': 1, 'Ziemiacka': 1, 'Turkowski': 1, 'Bober': 1, 'Klimczewska': 1, 'Hoppe': 1, 'Szczepaniak': 1, 'Danek': 1, 'Olszewska': 1, 'Siwy': 1, 'Suszek': 1, 'Górecka': 1, 'Kosińska': 1, 'Mleczko': 1, 'Miciński': 1, 'Ziółkowski': 1, 'Arcab': 1, 'Spajzer': 1, 'Kilar': 1, 'Ściążko': 1, 'Firkowski': 1, 'Karbowiak': 1, 'Tybiński': 1, 'Bryżys': 1, 'Dzioch': 1, 'Hałucha': 1, 'Wasyliszyn': 1, 'Białożyt': 1, 'Witkowski': 1, 'Powichrowska': 1, 'Ozimek': 1, 'Pyrgiel': 1, 'Fedyk': 1, 'Pauzder': 1, 'Zagaja': 1, 'Brudzińska': 1, 'Tincel': 1, 'Matuszewski': 1, 'Hojda': 1, 'Balawender': 1, 'Durska': 1, 'Cieśluk': 1, 'Bochenek': 1, 'Kamieńska': 1, 'Woszczyk': 1, 'Walecka': 1, 'Benczkowski': 1, 'Chołody': 1, 'Krasnodębski': 1, 'Koush': 1, 'Yurkiv': 1, 'Mazurek': 1, 'Mioscka': 1, 'Ostaszewska': 1, 'Szczudło': 1, 'Ornatek': 1, 'Mrozik': 1, 'Rychlewska': 1, 'Kisilewicz': 1, 'Kardas': 1, 'Liberadzka': 1, 'Siemionkowicz': 1, 'Skulski': 1, 'Jeżak': 1, 'Fąferek': 1, 'Negri': 1, 'Dac': 1, 'Piekarz': 1, 'Majer': 1, 'Shevchenko': 1, 'Nykowska': 1, 'Plasun': 1, 'Adamski': 1, 'Cierocka': 1, 'Warecka': 1, 'Kępska': 1, 'Bień': 1, 'Szadach': 1, 'Lambarski': 1, 'Chilkiewicz': 1, 'Orliński': 1, 'Lonc': 1, 'Świerkot': 1, 'Wierzowiecki': 1, 'Stojke': 1, 'Tylkowska': 1, 'Stefanowicz': 1, 'Kucharski': 1, 'Skrzypczyk': 1, 'Gawryszczak': 1, 'Kmieć': 1, 'Foszczyńska': 1, 'Żyłko': 1, 'Grzybowski': 1, 'Płeszka': 1, 'Szydłowska': 1, 'Tecław': 1, 'Ledwoń': 1, 'Ferenc': 1, 'Zaborowska': 1, 'Proszkiewicz': 1, 'Szczecina': 1, 'Kucz': 1, 'Cieszyński': 1, 'Świniarski': 1, 'Zduńska': 1, 'Kapica': 1, 'Greniuk': 1, 'Kuś': 1, 'Solak': 1, 'Krzyżanowski': 1, 'Zawiślak': 1, 'Duc': 1, 'Dolata': 1, 'Jarmużek': 1, 'Zboińska': 1, 'Predenkiewicz': 1, 'Buczkowski': 1, 'Herdzik': 1, 'Rudnik': 1, 'Winsztal': 1, 'Strasik': 1, 'Szymanowska': 1, 'Stępień': 1, 'Zyskowska': 1, 'Rędziak': 1, 'Bonik': 1, 'Jagielski': 1, 'Cukierda': 1, 'Roguszczak': 1, 'Czyżewski': 1, 'Zdonek': 1, 'Chlebowska': 1, 'Wicher': 1, 'Gromala': 1, 'Biłyk': 1, 'Jarco': 1, 'Hala': 1, 'Wasiulewska': 1, 'Cieślar': 1, 'Kowalik': 1, 'Jedlińska': 1, 'Sikora': 1, 'Sarek': 1, 'Dubiel': 1, 'Dzionek': 1, 'Normantowicz': 1, 'Dobosz': 1, 'Smolarek': 1, 'Marczak': 1, 'Czupryńska': 1, 'Raczkowski': 1, 'Radszajd': 1, 'Kałużny': 1, 'Kłusek': 1, 'Ludniewski': 1, 'Sławek': 1, 'Wrzesień': 1, 'Kułaga': 1, 'Ławik': 1, 'Ochocka': 1, 'Matuszyk': 1, 'Jaśko': 1, 'Żołnowska': 1, 'Romancewicz': 1, 'Żebrowski': 1, 'Jędykiewicz': 1, 'Czyż': 1, 'Nita': 1, 'Grzelińska': 1, 'Dzianach': 1, 'Kras': 1, 'Stołowska': 1, 'Mańkowski': 1, 'Słowik': 1, 'Tejs': 1, 'Skiba': 1, 'Stelmasiak': 1, 'Ślemp': 1, 'Radkiewicz': 1, 'Klara': 1, 'Kulesza': 1, 'Antkiewicz': 1, 'Kakhishvili': 1, 'Chmielewski': 1, 'Graczyk': 1, 'Konewko': 1, 'Grudziecka': 1, 'Brzezińska': 1, 'Mistarz': 1, 'Drozda': 1, 'Kaczmarczyk': 1, 'Riegel': 1, 'Brzozowska': 1, 'Olejarz': 1, 'Maślak': 1, 'Krysiak': 1, 'Kośmider': 1, 'Czmielewski': 1, 'Cichoń': 1, 'Klocek': 1, 'Kaptur': 1, 'Zuba': 1, 'Świstowski': 1, 'Wakuliński': 1, 'Korchynskyi': 1, 'Błondek': 1, 'Bętkowska': 1, 'Elert': 1, 'Tuńska': 1, 'Dumin': 1, 'Bryks': 1, 'Wabik': 1, 'Żak': 1, 'Doligała': 1, 'Bachta': 1, 'Czebieniak': 1, 'Pikulik': 1, 'Bednarska': 1, 'Rębiś': 1, 'Miemiec': 1, 'Kuliczkowska': 1, 'Mierzwa': 1, 'Szklarzewska': 1, 'Papiernik': 1, 'Żochowska': 1, 'Kucwaj': 1, 'Wróblewska': 1, 'Korotkiewicz': 1, 'Knicz': 1, 'Beger': 1, 'Turlejski': 1, 'Filipczak': 1, 'Stielow': 1, 'Jęśkowiak': 1, 'Rachubiński': 1, 'Szarata': 1, 'Religo': 1, 'Słapek': 1, 'Pacia': 1, 'Haley': 1, 'Wojcicki': 1, 'Piszczyński': 1, 'Czerwińska': 1, 'Onyśk': 1, 'Pawela': 1, 'Korzeniowski': 1, 'Gruczek': 1, 'Cebula': 1, 'Kotecki': 1, 'Zawistowska': 1, 'Głąbica': 1, 'Maciąg': 1, 'Olekszy': 1, 'Reschke': 1, 'Pasik': 1, 'Marszałek': 1, 'Zyzik': 1, 'Kuźniar': 1, 'Cyran': 1, 'Bankiewicz': 1, 'Iwanicka': 1, 'Juraszewski': 1, 'Dorynek': 1, 'Filipchenko': 1, 'Pospieszny': 1, 'Kozłowski': 1, 'Parlak': 1, 'Olechowska': 1, 'Zalewska': 1, 'Klima': 1, 'Abramowski': 1, 'Tokarz': 1, 'Citko': 1, 'Gierczuk': 1, 'Sokołowska': 1, 'Miroforidu': 1, 'Sil': 1, 'Wasyluk': 1, 'Boguszewska': 1, 'Sykuła': 1, 'Skowrońska': 1, 'Trzeźwiński': 1, 'Świątek': 1, 'Gasińska': 1, 'Bukowska': 1, 'Góralska': 1, 'Toborek': 1, 'Dybaś': 1, 'Ligas': 1, 'Kłopocki': 1, 'Sarota': 1, 'Struszczak': 1, 'Sikorska': 1, 'Warunek': 1, 'Woda': 1, 'Teteruk': 1, 'Holstein': 1, 'Łopato': 1, 'Kulig': 1, 'Jastrzębowska': 1, 'Kacperczyk': 1, 'Frąckowiak': 1, 'Waliszewska': 1, 'Markiel': 1, 'Waląg': 1, 'Wielebińska': 1, 'Irzyk': 1, 'Trojanowska': 1, 'Gucia': 1, 'Kośka': 1, 'Etmański': 1, 'Michalak': 1, 'Woś': 1, 'Kędziora': 1, 'Zubal': 1, 'Gemza': 1, 'Radzikowska': 1, 'Szczepańczyk': 1, 'Gajdzińska': 1, 'Szabelski': 1, 'Moczarny': 1, 'Lewczyński': 1, 'Małek': 1, 'Mytyk': 1, 'Kaźmierczak': 1, 'Rybicki': 1, 'Igiel': 1, 'Łoskot': 1, 'Sijka': 1, 'Schulz': 1, 'Cichy': 1, 'Wądołowska': 1, 'Wrona': 1, 'Herman': 1, 'Remplewicz': 1, 'Gatzka': 1, 'Wiatrowska': 1, 'Kleimenov': 1, 'Kaczyna': 1, 'Rutkowska': 1, 'Korzeniewski': 1, 'Pióro': 1, 'Markowska': 1, 'Dudzik': 1, 'Zalewski': 1, 'Bednarczyk': 1, 'Szychowska': 1, 'Czyżewska': 1, 'Kopik': 1, 'Kolak': 1, 'Drużyński': 1, 'Pawelec': 1, 'Popliński': 1, 'Berezowski': 1, 'Anderwald': 1, 'Szeliga': 1, 'Marcinkowski': 1, 'Wojtaszyk': 1, 'Litwin': 1, 'Pańczak': 1, 'Kwoka': 1, 'Frątczak': 1, 'Potrzebska': 1, 'Niedziołko': 1, 'Bohdanowicz': 1, 'Leszczyna': 1, 'Borowiak': 1, 'Bielecki': 1, 'Strzelecki': 1, 'Dzwonnik': 1, 'Dądela': 1, 'Możdżonek': 1, 'Fischer': 1, 'Bobowska': 1, 'Kubicka': 1, 'Szełemej': 1, 'Kutera': 1, 'Grzędzińska': 1, 'Jasiński': 1, 'Krzyszczuk': 1, 'Schmalenberg': 1, 'Pływacz': 1, 'Pełka': 1, 'Tulecki': 1, 'Modzelewski': 1, 'Zarzycki': 1, 'Rozmysłowski': 1, 'Łata': 1, 'Najwer': 1, 'Wichert': 1, 'Kret': 1, 'Szymla': 1, 'Gruszka': 1, 'Gurgul': 1, 'Różana': 1, 'Krysa': 1, 'Podobiński': 1, 'Kukla': 1, 'Kania': 1, 'Sawicka': 1, 'Fit': 1, 'Simchuk': 1, 'Lipska': 1, 'Nowosińska': 1, 'Janek': 1, 'Śliwiński': 1, 'Nowaczyk': 1, 'Panek': 1, 'Kucharska': 1, 'Łućko': 1, 'Lewandowska': 1, 'Orlikowska': 1, 'Brahmbhatt': 1, 'Tobolska': 1, 'Moczydłowska': 1, 'Hyży': 1, 'Dzieciuchowicz': 1, 'Baczyński': 1, 'Czubik': 1, 'Placzyński': 1, 'Kostrzewa': 1, 'Baryła': 1, 'Grygorczuk': 1, 'Ragiel': 1, 'Garboliński': 1, 'Gawliczek': 1, 'Golba': 1, 'Sykurski': 1, 'Łungowski': 1, 'Strzępka': 1, 'Ignasiak': 1, 'Łatanik': 1, 'Kisiel': 1, 'Żmudziński': 1, 'Głuchowski': 1, 'Wiaderek': 1, 'Kushneryk': 1, 'Strelbitska': 1, 'Szot': 1, 'Długa': 1, 'Paul': 1, 'Bajerski': 1, 'Podolski': 1, 'Glenc': 1, 'Olas': 1, 'Mania': 1, 'Wdowczyk': 1, 'Gerla': 1, 'Pacek': 1, 'Martseniuk': 1, 'Jacyniuk': 1, 'Mocek': 1, 'Bazelczuk': 1, 'Chaber': 1, 'Manik': 1, 'Mańka': 1, 'Paściak': 1, 'Sobczak': 1, 'Łukasik': 1, 'Mizgała': 1, 'Urbańczyk': 1, 'Dyczko': 1, 'Trzaskowska': 1, 'Filip': 1, 'Wendland': 1, 'Demeńczuk': 1, 'Brzozowski': 1, 'Żurek': 1, 'Maciak': 1, 'Dziadkiewicz': 1, 'Przeździecki': 1, 'Bilska': 1, 'Syktus': 1, 'Frąszczak': 1, 'Bator': 1, 'Palkowski': 1, 'Nerc': 1, 'Lula': 1, 'Shevchuk': 1, 'Jurgielewicz': 1, 'Kurasik': 1, 'Skowron': 1, 'Żukowska': 1, 'Borys': 1, 'Palian': 1, 'Franczuk': 1, 'Motyka': 1, 'Hryniewicz': 1, 'Białowąs': 1, 'Kustra': 1, 'Procek': 1, 'Trzpis': 1, 'Adamczak': 1, 'Jędrzejak': 1, 'Zapotichnyi': 1, 'Swędrzyński': 1, 'Bocheński': 1, 'Trześniewska': 1, 'Vintoniak': 1, 'Iskra': 1, 'Łukowska': 1, 'Maśko': 1, 'Czarnowski': 1, 'Cempel': 1, 'Kowalczuk': 1, 'Duell': 1, 'Kowalkowska': 1, 'Cieplińska': 1, 'Pietrasik': 1, 'Nitsche': 1, 'Kozakiewicz': 1, 'Skurczyńska': 1, 'Tynecki': 1, 'Dąbkowski': 1, 'Królikowska': 1, 'Baka': 1, 'Fajkowska': 1, 'Burkot': 1, 'Nieć': 1, 'Maternowski': 1, 'Ciszewski': 1, 'Cygan': 1, 'Laskowski': 1, 'Bolda': 1, 'Walkowicz': 1, 'Kułakowska': 1, 'Chmielowiec': 1, 'Reshetova': 1, 'Lesyk': 1, 'Jaruszowicz': 1, 'Wysocka': 1, 'Majsterek': 1, 'Szymańska': 1, 'Filipowicz': 1, 'Tarnowska': 1, 'Półchłopek': 1, 'Klabecki': 1, 'Szafka': 1, 'Nawrot': 1, 'Klapkowski': 1, 'Karpiński': 1, 'Deoniziak': 1, 'Zaradniak': 1, 'Osetek': 1, 'Ostrowska': 1, 'Bigda': 1, 'Długokęcki': 1, 'Samek': 1, 'Krzewski': 1, 'Maciejewski': 1, 'Bulak': 1, 'Kudłacik': 1, 'Stankowski': 1, 'Błaszczyk': 1, 'Twarowski': 1, 'Wilczyński': 1, 'Michalewicz': 1, 'Niścior': 1, 'Kosiba': 1, 'Jankowski': 1, 'Zaczkowska': 1, 'Skałecka': 1, 'Dranikowski': 1, 'Breza': 1, 'Czubat': 1, 'Szymkowska': 1, 'Kudliński': 1, 'Socha': 1, 'Chojnacki': 1, 'Szperlik': 1, 'Brînza': 1, 'Abel': 1, 'Zgondek': 1, 'Mrozowski': 1, 'Lisiecka': 1, 'Okrój': 1, 'Skonieczna': 1, 'Michaluk': 1, 'Bartoszewska': 1, 'Korczak': 1, 'Polska': 1, 'Pierniak': 1, 'Mażewska': 1, 'Chmielewska': 1, 'Gałązka': 1, 'Rossa': 1, 'Chłus': 1, 'Pękala': 1, 'Boiko': 1, 'Urban': 1, 'Korżyński': 1, 'Gutowski': 1, 'Gubała': 1, 'Zbroja': 1, 'Karczmarczyk': 1, 'Śliwińska': 1, 'Żywot': 1, 'Bajor': 1, 'Lesik': 1, 'Łuczak': 1, 'Stiller': 1, 'Łapiński': 1, 'Manowski': 1, 'Kuna': 1, 'Mianowska': 1, 'Jankiewicz': 1, 'Borowik': 1, 'Malaca': 1, 'Pikhotskyi': 1, 'Ostrycharz': 1, 'Jarema': 1, 'Stojek': 1, 'Paluch': 1, 'Laszuk': 1, 'Miśków': 1, 'Kasprzyk': 1, 'Gronau': 1, 'Krasoń': 1, 'Budzisz': 1, 'Tuziak': 1, 'Rożdżyńska': 1, 'Nawrocki': 1, 'Krupa': 1, 'Knapczyński': 1, 'Siekiera': 1, 'Januszkiewicz': 1, 'Michałowska': 1, 'Kamiński': 1, 'Androsz': 1, 'Rążewska': 1, 'Pisarek': 1, 'Konieczka': 1, 'Szalska': 1, 'Yanchuk': 1, 'Żywczyński': 1, 'Lasek': 1, 'Banaś': 1, 'Stasiak': 1, 'Nadolny': 1, 'Borodeńko': 1, 'Falkowski': 1, 'Moszyńska': 1, 'Przekwas': 1, 'Lehwark': 1, 'Gac': 1, 'Mielewczyk': 1, 'Mojsak': 1, 'Siwek': 1, 'Lukoszek': 1, 'Grochowska': 1, 'Kubacki': 1, 'Ciemniewska': 1, 'Tadla': 1, 'Faliszek': 1, 'Sobota': 1, 'Drzewiecka': 1, 'Zandecka': 1, 'Wysokowska': 1, 'Konopko': 1, 'Ziok': 1, 'Wiciel': 1, 'Lukianets': 1, 'Stanula': 1, 'Kuźma': 1, 'Grodzka': 1, 'Tobys': 1, 'Obłój': 1, 'Masiarek': 1, 'Frączyk': 1, 'Bumbul': 1, 'Kołodziejski': 1, 'Bysiak': 1, 'Turski': 1, 'Radziszewski': 1, 'Kujawa': 1, 'Fuja': 1, 'Kępińska': 1, 'Zabłotny': 1, 'Wegner': 1, 'Dwojak': 1, 'Sólnica': 1, 'Savchenko': 1, 'Plichta': 1, 'Kurzyński': 1, 'Lisiecki': 1, 'Janiszewska': 1, 'Kravets': 1, 'Blumberg': 1, 'Skóra': 1, 'Kaczmarska': 1, 'Miłosek': 1, 'Kucharzyk': 1, 'Lorkowska': 1, 'Kaczorowska': 1, 'Zdebska': 1, 'Scheffs': 1, 'Profic': 1, 'Kulwicki': 1, 'Wielądek': 1, 'Kaszowska': 1, 'Filo': 1, 'Pępiak': 1, 'Wolnicki': 1, 'Przebinda': 1, 'Małagowski': 1, 'Patyjewicz': 1, 'Roszczyk': 1, 'Gaj': 1, 'Kurowska': 1, 'Kaniewska': 1, 'Sasin': 1, 'Matlak': 1, 'Smyk': 1, 'Fedina': 1, 'Dźbik': 1, 'Helisz': 1, 'Coner': 1, 'Strzemińska': 1, 'Sieńkowska': 1, 'Stefaniak': 1, 'Stadnicki': 1, 'Koszałka': 1, 'Karos': 1, 'Olak': 1, 'Zbirek': 1, 'Niewada': 1, 'Skitek': 1, 'Janson': 1, 'Popielarczyk': 1, 'Sowa': 1, 'Haba': 1, 'Rola': 1, 'Roszko': 1, 'Pobłocka': 1, 'Kasica': 1, 'Jóźwik': 1, 'Kielar': 1, 'Wykręt': 1, 'Bielenda': 1, 'Wiącek': 1, 'Ćwiklińska': 1, 'Brzoskowski': 1, 'Siwik': 1, 'Wójtowicz': 1, 'Kochan': 1, 'Zapaśnik': 1, 'Gałka': 1, 'Olkowicz': 1, 'Zdun': 1, 'Gajdemska': 1, 'Bury': 1, 'Bąba': 1, 'Kutyła': 1, 'Janaszek': 1, 'Warpechowski': 1, 'Dobek': 1, 'Brzeszczak': 1, 'Suchacki': 1, 'Szemberg': 1, 'Anglard': 1, 'Staniewicz': 1, 'Bąkowski': 1, 'Zamora': 1, 'Machnik': 1, 'Jaskot': 1, 'Pawlak': 1, 'Zaręba': 1, 'Pasztetnik': 1, 'Jurzak': 1, 'Jarecka': 1, 'Pietrych': 1, 'Brak danych': 1, 'Biłat': 1, 'Paradowski': 1, 'Szymajda': 1, 'Suchorska': 1, 'Oliszewska': 1, 'Łozowska': 1, 'Rybus': 1, 'Kędzierska': 1, 'Świąder': 1, 'Karwicka': 1, 'Kononiuk': 1, 'Ciemerych': 1, 'Mosiej': 1, 'Wojtała': 1, 'Boguszewski': 1, 'Czechowski': 1, 'Greco': 1, 'Halamuda': 1, 'Podolak': 1, 'Kołakowski': 1, 'Pasiut': 1, 'Staniec': 1, 'Chyb': 1, 'Stefańska': 1, 'Baron': 1, 'Słotwiński': 1, 'Błaszyk': 1, 'Lasota': 1, 'Miecznikowska': 1, 'Michałczak': 1, 'Kalita': 1, 'Knoski': 1, 'Gozdek': 1, 'Martynova': 1, 'Krzemińska': 1, 'Chrząszcz': 1, 'Dzięcioł': 1, 'Durlak': 1, 'Winiarczyk': 1, 'Pultyn': 1, 'Bartków': 1, 'Bożęcki': 1, 'Ber': 1, 'Kiper': 1, 'Drozdz': 1, 'Skotarek': 1, 'Marusza': 1, 'Jacaszek': 1, 'Margulska': 1, 'Michalik': 1, 'Dańko': 1, 'Baumann': 1, 'Paryła': 1, 'Brodko': 1, 'Jakubowski': 1, 'Malaga': 1, 'Jachna': 1, 'Jaworski': 1, 'Kulczycka': 1, 'Drozd': 1, 'Kornak': 1, 'Zgierska': 1, 'Kuryshchuk': 1, 'Owczarek': 1, 'Rozmus': 1, 'Głowacki': 1})

In [14]:
#customer = customer.drop('', axis=1)
customer.reset_index(drop=False, inplace=False)

customer

,customer_id,first_name,last_name,gender,phone,email
0,1,Ewa,Sapak,female,791491634,Ewa.Sap@gmail.com
1,2,Jakub,Szczepański,male,792370041,Szczepanski.Ja@gmail.com
2,3,Kateryna,Teliszewska,female,663017148,Kateryna8885@wp.pl
3,4,Nela,Dendys,female,734919744,Dendys.Ne@gmail.com
4,5,Maja,Zdanowska,female,577698695,MajaZdanowska@onet.pl
...,...,...,...,...,...,...
1324,1325,Nela,Zgierska,female,503904401,Zgierska7432@wp.pl
1325,1326,Maciej,Kuryshchuk,male,538455331,Maciej.Kur@gmail.com
1326,1327,Kazimierz,Owczarek,male,781806955,Kazimierz.Owczarek@wp.pl
1327,1328,Julian,Rozmus,male,535851916,Julian4145@gmail.com
1328,1329,Gabriel,Głowacki,male,692315852,Glowacki3891@gmail.com

In [15]:
customer.to_csv("customer.csv", sep = ",", encoding='utf-8-sig')

# staff table

20 pracowników ma być

In [31]:
random.seed(123)
n = 17 #ilość pracowników

In [32]:
first_name = np.zeros(n).astype(str)
last_name = np.zeros(n).astype(str)
gender = np.zeros(n).astype(str)

x = np.random.choice(["K", "M"], size=n, replace=True, p=[0.35, 0.65]) # chcemy więcej mężczyzn jako pracowników
imiona_m = np.random.choice(I_m, size=n, replace=True, p=normalise(i_m, I_m))
imiona_k = np.random.choice(I_k, size=n, replace=True, p=normalise(i_k, I_k))
nazwiska_m = np.random.choice(N_m, size=n, replace=True, p=normalise(n_m, N_m))
nazwiska_k = np.random.choice(N_k, size=n, replace=True, p=normalise(n_k, N_k))

for i in range(n):
    if x[i] == "K":
        first_name[i] = imiona_k[i] #random.choice(I_k)
        last_name[i] = nazwiska_k[i] #random.choice(N_k)
        gender[i] = "female"
    else:
        first_name[i] = imiona_m[i] #random.choice(I_m)
        last_name[i] = nazwiska_m[i] #random.choice(N_m)
        gender[i] = "male"

In [33]:
staff_id = range(1,n+1)
dict_staff = {'staff_id': staff_id, "first_name": first_name, "last_name": last_name, "gender": gender}
staff = pd.DataFrame(dict_staff)
staff

    staff_id   first_name    last_name  gender
0          1       Witold  Krzepkowski    male
1          2      Oliwier     Łabuński    male
2          3       Błażej     Janowski    male
3          4       Wiktor      Małecki    male
4          5     Beniamin    Renkowski    male
5          6       Marcel   Kostrubiec    male
6          7     Wojciech  Antosiewicz    male
7          8  Maksymilian     Ignaczak    male
8          9  Maksymilian     Mendrala    male
9         10      Mikołaj    Lebiodzik    male
10        11       Teodor        Czuba    male
11        12   Aleksander   Ziembański    male
12        13      Martyna  Adamkiewicz  female
13        14        Laura    Kasperska  female
14        15     Jonathan   Wiśniewski    male
15        16       Tereza        Figat  female
16        17        Laura        Kępka  female

In [34]:
# liczby użytkowników danych poczt email
gmail = 8968134
wp = 6895602
onet = 4302509
interia = 2677345
o2 = 2855010

all_users = gmail+wp+onet+interia+o2

# wektor prawdopodobieństw
mail_probab = [gmail/all_users, wp/all_users, onet/all_users, interia/all_users, o2/all_users]
mail_probab = [round(i,4) for i in mail_probab]
mail_probab = [i/min(mail_probab) for i in mail_probab]
mail_probab = mail_probab/np.sum(mail_probab)

In [35]:
email = np.zeros(n).astype(str)
for i in range(n):
    email[i] = staff["first_name"][i] + "." + staff["last_name"][i] + "@dragons.com"
email = [unidecode(i) for i in email]

In [36]:
phone = np.zeros(n).astype(int)
for i in range(n):
    number =  str(np.random.choice([45, 50, 51, 53, 57, 60, 66, 69, 72, 73, 78, 79, 88])) + str(random.choice(range(1000000, 9000000)))
    phone[i] = int(number)
staff["phone"] = phone
staff["email"] = email
staff

amount = [4310, 5140, 6530, 7280, 8320] #ceny brutto
salary = np.random.choice(amount, size=n, replace=True, p=[0.35, 0.35, 0.15, 0.10, 0.05]). astype(float)
staff["salary"] = salary 
staff

,staff_id,first_name,last_name,gender,phone,email,salary
0,1,Witold,Krzepkowski,male,531439257,Witold.Krzepkowski@dragons.com,6530.0
1,2,Oliwier,Łabuński,male,883245438,Oliwier.Labunski@dragons.com,5140.0
2,3,Błażej,Janowski,male,511731374,Blazej.Janowski@dragons.com,5140.0
3,4,Wiktor,Małecki,male,607450473,Wiktor.Malecki@dragons.com,5140.0
4,5,Beniamin,Renkowski,male,794416191,Beniamin.Renkowski@dragons.com,5140.0
5,6,Marcel,Kostrubiec,male,883236015,Marcel.Kostrubiec@dragons.com,6530.0
6,7,Wojciech,Antosiewicz,male,501903455,Wojciech.Antosiewicz@dragons.com,5140.0
7,8,Maksymilian,Ignaczak,male,668033877,Maksymilian.Ignaczak@dragons.com,4310.0
8,9,Maksymilian,Mendrala,male,608559804,Maksymilian.Mendrala@dragons.com,5140.0
9,10,Mikołaj,Lebiodzik,male,458338570,Mikolaj.Lebiodzik@dragons.com,4310.0
10,11,Teodor,Czuba,male,501320056,Teodor.Czuba@dragons.com,5140.0
11,12,Aleksander,Ziembański,male,534180325,Aleksander.Ziembanski@dragons.co,4310.0
12,13,Martyna,Adamkiewicz,female,575497988,Martyna.Adamkiewicz@dragons.com,6530.0
13,14,Laura,Kasperska,female,795717071,Laura.Kasperska@dragons.com,5140.0
14,15,Jonathan,Wiśniewski,male,693786676,Jonathan.Wisniewski@dragons.com,4310.0
15,16,Tereza,Figat,female,733858822,Tereza.Figat@dragons.com,5140.0
16,17,Laura,Kępka,female,608147820,Laura.Kepka@dragons.com,5140.0

In [37]:
staff.to_csv("staff.csv", sep = ",", encoding='utf-8-sig')